.transactionHistory {
  font-size: 1.125rem;
  font-family: Arial, sans-serif;
  width: 80%;
  margin-inline: auto;
  border-spacing: 0;

  thead tr {
    background-color: #333333;
    color: white;
  }

  th,
  td {
    padding: 5px;
    border: 1px solid black;
  }

  tbody tr:nth-of-type(even) {
    background-color: white;
  }

  tbody tr:nth-of-type(odd) {
    background-color: lightgrey;
  }
}
